<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/home_style.css}" rel="stylesheet">

    <body>
        <header th:replace="/layout/header_layout :: header_layout"></header>

    <div id="container">

        <div id="top">
            <div id="banner">
                <a href="#"><img src="/images/banner.jpg" alt="배너이미지1" ></a>
                <a href="#"><img src="/images/banner.jpg" alt="배너이미지2" ></a>
                <a href="#"><img src="/images/banner.jpg" alt="배너이미지3" ></a>
            </div>
        </div>
        <div id="mid">
            <div id="content">
                <div id="today_Quiz">
                    오늘의 퀴즈
                </div>
                <div id="notice">
                    <table></table>
                </div>
            </div>
        </div>
        <div id="bot">
            <div id="board_new">
                <table></table>
            </div>
        </div>
    </div>

        <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
    </body>
</html>