<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quizzeria</title>

    <script th:src="@{/css/js/main/home.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main/home.css}" rel="stylesheet">
</head>

    <body>
        <header th:replace="/layout/header_layout :: header_layout"></header>

    <div id="container">

        <div id="top">
            <div id="banner">
                <img th:src="@{/css/images/main/banner1.jpg}" alt="배너1">
                <img th:src="@{/css/images/main/banner2.jpg}" alt="배너2" style="display: none">
                <img th:src="@{/css/images/main/banner3.jpg}" alt="배너3" style="display: none">
            </div>
        </div>
        <div id="mid">
            <div id="content">
                <div id="today_Quiz">
                    <div id="quiz_title">
                        <h2>Today's Quiz!</h2>
                    </div>
                    <div id="question">
                        <div class="card">
                            <div class="question">[[${quiz.get(0).question}]]</div>
                            <div class="answer" th:each="dto : ${quizAnswer}">
                                <p th:if="${dto.correct eq 'Y'}">[[${dto.answer}]]</p>
                            </div>
                        </div>
                    </div>
                    <div id="answer"> <!-- 2행 2열로 만들려고 좌우 나눔 -->
                        <div th:if="${quizListDTO.type eq 'Subjective'}" class="input-group mb-3">
                            <input type="text" class="form-control" style="height: 100px;" placeholder="정답을 입력해 주세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="button" id="button-addon2" value="Y">Submit</button>
                        </div>
                        <div th:if="${quizListDTO.type eq 'BinaryChoice'}" class="input-group mb-3">
                            <button id="btn-2-1" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(0).correct}">[[${quizAnswer.get(0).answer}]]</button>
                            <button id="btn-2-2" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(1).correct}">[[${quizAnswer.get(1).answer}]]</button>
                        </div>
                        <div th:if="${quizListDTO.type eq 'TernaryChoice'}" class="input-group mb-3">
                            <button id="btn-3-1" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(0).correct}">[[${quizAnswer.get(0).answer}]]</button>
                            <button id="btn-3-2" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(1).correct}">[[${quizAnswer.get(1).answer}]]</button>
                            <button id="btn-3-3" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(2).correct}">[[${quizAnswer.get(2).answer}]]</button>
                        </div>
                        <div th:if="${quizListDTO.type eq 'MultipleChoice'}" class="input-group mb-3">
                            <button id="btn-4-1" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(0).correct}">[[${quizAnswer.get(0).answer}]]</button>
                            <button id="btn-4-2" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(1).correct}">[[${quizAnswer.get(1).answer}]]</button>
                            <button id="btn-4-3" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(2).correct}">[[${quizAnswer.get(2).answer}]]</button>
                            <button id="btn-4-4" type="button" class="btn btn-secondary"  th:value="${quizAnswer.get(3).correct}">[[${quizAnswer.get(3).answer}]]</button>
                        </div>
<!--                        <div id="left">-->
<!--                            <div id="left_top">-->
<!--                                <button type="button" class="btn btn-secondary" value="wrong">피제리아</button>-->
<!--                            </div>-->
<!--                            <div id="left_bot">-->
<!--                                <button type="button" class="btn btn-secondary" value="correct">퀴제리아</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div id="right">-->
<!--                            <div id="right_top">-->
<!--                                <button type="button" class="btn btn-secondary" value="wrong">라라코스트</button>-->
<!--                            </div>-->
<!--                            <div id="right_bot">-->
<!--                                <button type="button" class="btn btn-secondary" value="wrong">네고라니</button>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div id="dailyQuiz_btn">
                        <button type="button" class="btn btn-primary" onclick="location.href='../quiz/quiz_view?qlno=17&index=0'">퀴즈 보러 가기</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='../quiz/quiz_main'">퀴즈 리스트 보기</button>
                    </div>
                </div>
                <div id="notice"> <!-- 홈에서 보이는 공지는 5~6개 까지만 표시, 중요공지 2개 + 최신공지 4개 -->
                    <div id="notice_top">
                        <div id="notice_title">
                            <h2>공지사항</h2>
                        </div>
                        <div id="notice_btn">
                            <a th:href="@{/main/notice}">공지사항&raquo;</a>
                        </div>
                    </div>
                    <div id="notice_contents">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 10%;">#</th>
                                <th scope="col" style="width: 70%;">title</th>
                                <th scope="col" style="width: 20%;">date</th>
                            </tr>
                            </thead>
                            <tbody> <!-- category 사용해서 important2개 general4개 나오도록 -->
                                <tr id="notice_table" th:each="dto : ${notice}">
                                    <td>[[${dto.nno}]]</td>
                                    <th scope="row">
                                        <a th:href="@{/main/notice}">
                                            [[${dto.title}]]
                                        </a>
                                    </th>
                                    <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="bot">
            <div id="board_new">
                <div id="board_top">
                    <div id="board_title">
                        <h2>최신 게시글</h2>
                    </div>
                    <div id="board_btn">
                        <a th:href="@{/board/board_main}">게시판&raquo;</a>
                    </div>
                </div>
                <div id="board_content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 7%;">글번호</th>
                            <th scope="col" style="width: 48%;">제목</th>
                            <th scope="col" style="width: 15%;">글쓴이</th>
                            <th scope="col" style="width: 7%;">조회수</th>
                            <th scope="col" style="width: 7%;">추천수</th>
                            <th scope="col" style="width: 16%;">게시일</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr id="board_table" th:each="dto : ${board}">
                            <td>[[${dto.bno}]]</td>
                            <th scope="row">
                                <a th:href="@{/board/board_view(bno=${dto.bno})}">
                                    [[${dto.title}]]
                                </a>
                            </th>
                            <td>[[${dto.member.id}]]</td>
                            <td>[[${dto.views}]]</td>
                            <td>[[${dto.likes}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

        <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
    </body>

</html>