<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quizzeria</title>

    <script th:src="@{/js/main/home.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main/home.css}" rel="stylesheet">
</head>

    <body>
        <header th:replace="/layout/header_layout :: header_layout"></header>

    <div id="container">

        <div id="top">
            <div id="banner">
                <img th:src="@{/images/banner1.jpg}" alt="배너1">
                <img th:src="@{/images/banner2.jpg}" alt="배너2" style="display: none">
                <img th:src="@{/images/banner3.jpg}" alt="배너3" style="display: none">
            </div>
        </div>
        <div id="mid">
            <div id="content">
                <div id="today_Quiz">
                    <div id="quiz_title">
                        <h2>Today's Quiz!</h2>
                    </div>
                    <div id="question">
                        <div id="card">
                            <h2>우리 프로젝트의 이름은?</h2>
                        </div>
                    </div>
                    <div id="answer"> <!-- 2행 2열로 만들려고 좌우 나눔 -->
                        <div id="left">
                            <div id="left_top">
                                <button type="button" class="btn btn-secondary" value="wrong">피제리아</button>
                            </div>
                            <div id="left_bot">
                                <button type="button" class="btn btn-secondary" value="correct">퀴제리아</button>
                            </div>
                        </div>
                        <div id="right">
                            <div id="right_top">
                                <button type="button" class="btn btn-secondary" value="wrong">라라코스트</button>
                            </div>
                            <div id="right_bot">
                                <button type="button" class="btn btn-secondary" value="wrong">네고라니</button>
                            </div>
                        </div>
                    </div>
                    <div id="dailyQuiz_btn">
                        <button type="button" class="btn btn-primary">퀴즈 보러 가기</button>
                        <button type="button" class="btn btn-primary">다음문제</button>
                    </div>
                </div>
                <div id="notice"> <!-- 홈에서 보이는 공지는 5~6개 까지만 표시, 중요공지 2개 + 최신공지 4개 -->
                    <div id="notice_top">
                        <div id="notice_title">
                            <h2>공지사항</h2>
                        </div>
                        <div id="notice_btn">
                            <a th:href="@{/main/Notice}">공지사항&gt;&gt;</a>
                        </div>
                    </div>
                    <div id="notice_contents">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 10%;">#</th>
                                <th scope="col" style="width: 70%;">title</th>
                                <th scope="col" style="width: 20%;">date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>중요 공지사항 입니다......1</td>
                                <td>2023.05.01</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>중요 공지사항 입니다......2</td>
                                <td>2023.05.01</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>최신 공지사항 입니다......3</td>
                                <td>2023.05.01</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>최신 공지사항 입니다......4</td>
                                <td>2023.05.01</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>최신 공지사항 입니다......5</td>
                                <td>2023.05.01</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>최신 공지사항 입니다......6</td>
                                <td>2023.05.01</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="bot">
            <div id="board_new">
                <div id="board_top">
                    <div id="board_title">
                        <h2>최신 게시글</h2>
                    </div>
                    <div id="board_btn">
                        <a th:href="@{/board/Board_main}">게시판&gt;&gt;</a>
                    </div>
                </div>
                <div id="board_content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 60%;">Title</th>
                            <th scope="col" style="width: 20%;">Writer</th>
                            <th scope="col" style="width: 10%;">Date</th>
                            <th scope="col" style="width: 5%;">Views</th>
                            <th scope="col" style="width: 5%;">Likes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>여기</td>
                            <td>user1</td>
                            <td>2023.05.01</td>
                            <td>1,435</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>에는</td>
                            <td>user2</td>
                            <td>2023.05.01</td>
                            <td>3,366</td>
                            <td>2,343</td>
                        </tr>
                        <tr>
                            <td>최신</td>
                            <td>user3</td>
                            <td>2023.05.01</td>
                            <td>12,345</td>
                            <td>12,345</td>
                        </tr>
                        <tr>
                            <td>게시글</td>
                            <td>user4</td>
                            <td>2023.05.01</td>
                            <td>4</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>코드짜서</td>
                            <td>user5</td>
                            <td>2023.05.01</td>
                            <td>123</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>넣기</td>
                            <td>user6</td>
                            <td>2023.05.01</td>
                            <td>123</td>
                            <td>2</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

        <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
    </body>

</html>