<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Quizzeria</title>

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main/welcome.css}" rel="stylesheet">
</head>

<body>
    <header th:replace="/layout/header_layout :: header_layout" class="fixed-top"></header>

    <div id="section_1">
        <p id="welcome">
            <a th:href="@{/main/home}">Welcome  to Quizzeria</a>
        </p>
        <a class="scroll_down" href="#section_2"></a>

    </div>

    <div id="section_2">
        <div id="content_1_wrap">
            <div id="content_1">
                <div id="content_1-1">
                    <h2>Quizzeria 의 다양함을 무료로 이용하세요.</h2>
                    <p>
                        1. Quizzeria는 Pizzeria를 모티브한 Quiz 를 직접 만들어 이용하는 사이트 입니다.
                    </p>
                    <p>
                        2. Quizzeria는 학생들의 시선에 맞춰 제작 되었습니다.
                    </p>
                    <p>
                        3. 본인의 경험을 토대로 Quiz를 만들어보세요!
                    </p>
                    <p>
                        4. Quizeeria는 항상 무료입니다.
                    </p>
                </div>
                <div id="content_1-2">
                    <img th:src="@{/css/images/main/welcome_img-1.jpg}" alt="웰컴 이미지-1">
                </div>
            </div>
        </div>
        <div id="content_2_wrap">
            <div id="content_2">
                <div id="content_2-1">

                </div>
                <div id="content_2-2">

                </div>
            </div>
        </div>
        <div id="content_3_wrap">
            <div id="content_3">
                <div id="content_3-1">

                </div>
                <div id="content_3-2">

                </div>
            </div>
        </div>
        <div id="content_4_wrap">
            <div id="content_4">
                <div id="content_4-1">

                </div>
                <div id="content_4-2">

                </div>
            </div>
        </div>
    </div>


    <footer th:replace="/layout/footer_layout :: footer_layout"></footer>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/css/js/main/welcome.js}"></script>



</html>