<!DOCTYPE html>

<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <footer th:fragment="footer_layout">

    <footer class="section footer-classic context-dark bg-image" style="background: #eef0f2">
      <div class="container">
        <div class="row row-30">
          <div class="col-md-4 col-xl-5">
            <div class="pr-xl-4">
              <h5>Quizzeria</h5>
              <p>당 회사는 퀴즈(문제)에 대한 중계업자일 뿐이며 모든 퀴즈(문제)에 대한 저작권과 책임은 출제자에게 있음을 알립니다. 모욕적, 차별적, 폭력적, 성적인 콘텐츠(문제, 댓글 등)는 제제의 대상이 될수 있으며 민형사상 책임을 질 수 있음을 알립니다.
                <!-- Rights-->
              <p class="rights"><span>©  </span><span class="copyright-year">2023</span><span> </span><span>Company</span><span> - </span><span>Nodabbro</span></p>
            </div>
          </div>
          <div class="col-md-4">
            <h5>Contacts</h5>
            <dl class="contact-list">
              <dt>Address:</dt>
              <dd>대구광역시 동구 화랑로 525</dd>
            </dl>
            <dl class="contact-list">
              <dt>email:</dt>
              <dd><a href="mailto:#">bemilinde@gmail.com</a></dd>
            </dl>
            <dl class="contact-list">
              <dt>phones:</dt>
              <dd><a href="tel:#">010-6066-7059-2495</a>
              </dd>
            </dl>
          </div>
          <div class="col-md-4 col-xl-3">
            <h5>Links</h5>
            <ul class="nav-list">
              <li><a href="https://www.instagram.com/seoxxy_/" target="_blank">Instagram</a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100014220045287" target="_blank">Facebook</a></li>
              <li><a href="https://www.youtube.com/watch?v=6ZUIwj3FgUY" target="_blank">Youtube</a></li>
              <li><a href="https://www.naver.com/" target="_blank">Naver</a></li>
              <li><a href="https://www.google.co.kr/?hl=ko" target="_blank">Google</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </footer>
</html>