<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link th:href="@{/css/board/board_register.css}" rel="stylesheet">

<body>

<header th:replace="/layout/header_layout :: header_layout"></header>

<div id="container_register">

    <h1 class = "mt-4">Quizzeria 게시글 등록</h1>

    <form th:action="@{/board/board_register}" th:method="post">

        <table class="table" id="table_main">
            <thead>
            <tr>
                <th scope="col">
                    <input id="title_text" type="text" class="form-control" name="title" placeholder="제목을 입력하세요...">
                </th>
            </tr>
            <tr>
                <th scope="col">[[${#authentication.principal.id}]]</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <select name="category" style="margin-bottom: 10px">
                            <option value="General">일반 공지사항</option>
                            <option value="Important">중요 공지사항</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea id="content_text" class="form-control" rows="8" name="content" placeholder="내용을 입력하세요..."></textarea>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>

        <input type="hidden" name="id" value="[[${#authentication.principal.id}]]">
        <input type="hidden" name="hidden" value="N">
        <div sec:authorize="hasRole('ROLE_USER')">
            <input type="hidden" name="category" value="Others">
        </div>
        <input type="hidden" name="likes" value="0">
        <input type="hidden" name="views" value="0">
        <input type="hidden" name="member" value="[[${#authentication.principal.mno}]]">

        <hr>

        <button type="submit" class="btn btn-outline-primary">등록</button>

        <a th:href="@{/board/board_main}">
            <button type="button" class="btn btn-outline-primary">돌아가기</button>
        </a>



    </form>

</div>

<footer th:replace="/layout/footer_layout :: footer_layout"></footer>

</body>


<script th:inline="javascript">
    window.onload = function(){
        var autu = [[${#authentication.principal.mno}]];
        $('input[name=member]').attr('value',autu);
    }
</script>

</html>