<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/board_style.css}" rel="stylesheet">

<body>

<header th:replace="/layout/header_layout :: header_layout"></header>


  <div id="board_wrapper">

    <div id="list_section">
      <div id="list_main">
        <ul id="font">
          <p>공지사항 category</p>
          <p>자유게시판 category</p>
          <p>질문게시판 category</p>
          <p>이벤트게시판 category</p>
          <p>고객센터 category</p>
        </ul>
      </div>
    </div>

    <div id="board_section">
      <div id="board_main">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
            <th scope="col">추천수</th>
          </tr>
          </thead>
          <today>

            <tr><!--th:each="dto : ${result.dtoList}"-->
              <th scope="row">
                <a href="#">dto.bno</a>
              </th>
              <td>dto.제목</td>
              <td>dto.글쓴이</td>
              <td>dto.작성일</td>
              <td>dto.조회수</td>
              <td>dto.추천수</td>
            </tr>

            <!--테스트-->
            <tr><!--th:each="dto : ${result.dtoList}"-->
              <th scope="row">
                <a href="#">dto.bno</a>
              </th>
              <td>dto.제목</td>
              <td>dto.글쓴이</td>
              <td>dto.작성일</td>
              <td>dto.조회수</td>
              <td>dto.추천수</td>
            </tr>
            <tr><!--th:each="dto : ${result.dtoList}"-->
              <th scope="row">
                <a href="#">dto.bno</a>
              </th>
              <td>dto.제목</td>
              <td>dto.글쓴이</td>
              <td>dto.작성일</td>
              <td>dto.조회수</td>
              <td>dto.추천수</td>
            </tr>
            <!--테스트-->

          </today>
        </table>
      </div>
    </div>
  </div>


<footer th:replace="/layout/footer_layout :: footer_layout"></footer>

</body>


<script th:inline="javascript">


</script>

</html>