
#container{
    width: 1280px;
    height:690px;
    margin: 0 auto;
    /*background-color: aqua;*/
}

#left{
    width: 840px;
    height: 690px;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
    /*background-color: #005cbf;*/
}
    #list_container{
        width: 700px;
        height: 690px;
        margin: 0 auto;
        /*background-color: #fff3cd;*/
    }

#right{
    width: 440px;
    height: 690px;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
    /*background-color: #6f42c1;*/
}

    #userInfo {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #f8f8f8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
            }

            #userInfo_top {
                width: 100%;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ebebeb;
                overflow: hidden;
            }

                #userInfo_top > img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

        #userInfo_mid {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-bottom: 1px solid #ebebeb;
        }

            #userInfo_mid > h3 {
                font-size: 20px;
                font-weight: bold;
                color: #333333;
                margin: 0;
            }

        #userInfo_bottom {
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: #fff;
        }

            .textForm {
                margin-bottom: 10px;
                border-bottom: 1px solid #ebebeb;
            }

            .label {
                display: block;
                font-size: 14px;
                font-weight: bold;
                color: #666666;
                margin-bottom: 5px;
            }

            .value {
                display: block;
                font-size: 16px;
                color: #333333;
            }


    #right_btn{
        width: 400px;
        height: 160px;
        margin: 0 auto;
        /*background-color: #e4606d;*/
    }
        #right_btn>button{
            width: 150px;
            height: 100px;
            float: left;
            margin-left: 37px;
            margin-top: 30px;
        }

