
#container{
    width: 1280px;
    height: 1500px;
    margin: 0 auto;
    /*background-color: aqua;*/
}

#quiz{
    width: 100%;
    height: 900px;
    /*background-color: red;*/
}
    #left{
        width: 1000px;
        height: 100%;
        float: left;
        padding-top: 70px;
        box-sizing: border-box;
        /*background-color: #0c5460;*/
    }
        #quiz_container{
            width: 860px;
            height: 760px;
            margin: 0 auto;
            border: 1px solid #333333;
            padding-top: 30px;
            padding-left: 30px;
            box-sizing: border-box;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            /*background-color: #fff3cd;*/
        }
            #quiz_card{
                width: 800px;
                height: 400px;
                /*background-color: gray;*/
            }
            .card {
                width: 600px;
                height: 400px;
                margin: 0 auto;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                position: relative;
                perspective: 1000px;
            }

            .card > div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                box-sizing: border-box;
                padding: 20px;
                font-size: 24px;
                line-height: 1.5;
                text-align: center;
                transition: transform 0.5s ease;
            }

            .question {
                color: #333333;
                border: 1px solid #333333;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                transform: rotateY(0deg);
                z-index: 2;
            }


            .answer {
                color: #333333;
                border: 1px solid #333333;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                transform: rotateY(180deg);
            }

            .card.flipped .question {
                transform: rotateY(180deg);
                z-index: 1;
            }

            .card.flipped .answer {
                transform: rotateY(0deg);
                z-index: 2;
            }
            #answerInput {
                width: 800px;
                height: 200px;
                padding-top: 50px;
                box-sizing: border-box;
                /*background-color: #19692c;*/
            }
            .input-group{

            }
            #quiz_btn{
                width: 800px;
                height: 50px;
                padding-top: 5px;
                box-sizing: border-box;
                /*background-color: #8fd19e;*/
            }
            #btn_left, #btn_right{
                width: 50%;
                height: 100%;
                float: left;
            }

                #btn_left>button{
                    float: left;
                    margin-left: 10px;
                }
                #btn_right>button{
                    float: right;
                    margin-right: 10px;
                }

            #progress{
                width: 800px;
                height: 50px;
                /*background-color: #ed969e;*/
            }

    #right{
        position: relative;
        width: 280px;
        height: 100%;
        float: left;
        padding-top: 30px;
        box-sizing: border-box;
        /*background-color: #6f42c1;*/
    }

    .banner img{
        width: 280px;
        height: 840px;
    }

#comment{
    width: 100%;
    height: 600px;
    /*background-color: green;*/
}
    #top{
        width: 100%;
        height:60px;
        text-align: center;
        /*background-color: #8fd19e;*/
    }

    #mid{
        width: 100%;
        height:90px;
        /*background-color: #e4606d;*/
    }
        #mid button{
            float: right;
            margin-right: 10px;
        }
    #bot{
        width: 100%;
        height: 450px;
        /*background-color: #9fcdff;*/

    }

