* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#board_section_1{
    width: 100vw;
    height: 100vh;
}

#notice_section{
    width: 20vw;
    height: 100vh;
    float: left;
    box-sizing: border-box;
}

#board_main{
    width: 80vw;
    height: 100vh;
    float: left;
    box-sizing: border-box;
}