* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Board_main style*/
#container{
    width: 1280px;
    height: 2500px;
    margin: 5vh auto 0;
    display: block;
}
#board_section{
    width: 100%;
    height: 1500px;
}

#floating_section{
    position: fixed;
    width: 200px;
    height: 400px;
    background-color: #4e555b;
    margin-left: 50px;
    margin-top: 10vh;
}


/*Board_view style*/
#view_main{
    width: 100%;
    height: 800px;
}

#view_reply{
    width: 100%;
    height: 300px;

}

#view_reply{
    width: 100%;
    height: 600px;

}