<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quizzeria_Quiz</title>

    <script th:src="@{/css/js/quiz/quiz_main.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/quiz/quiz_main.css}" rel="stylesheet">
</head>

<body>
    <header th:replace="/layout/header_layout :: header_layout"></header>
    <input type="hidden" id="size" th:value="${size}"/>
    <div id="container">
        <div id="left">
            <div id="list_container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 60%;">Title</th>
                        <th scope="col" style="width: 20%;">Writer</th>
                        <th scope="col" style="width: 10%;">Date</th>
                        <th scope="col" style="width: 5%;">Views</th>
                        <th scope="col" style="width: 5%;">Likes</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr id="quizlist_table" th:each="dto : ${quizlist.dtoList}">
                            <th scope="row">
                                <a th:href="@{/quiz/quiz_view(qlno=${dto.qlno}, index=0)}">
                                    [[${dto.title}]]
                                </a>
                            </th>
                            <td>[[${dto.member.id}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                            <td>[[${dto.views}]]</td>
                            <td>[[${dto.likes}]]</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div id="right">
            <div id="userInfo">
                로그인 하면 사용자 정보
                사용자 정보 보러 가기
                최근 푼 문제??(로그)
                정답률(로그)
                문제 만들기 버튼?
                </br>
                문제 풀면 정답인지 오답인지 카운트
                구현...해...줘...
            </div>
            <div id="right_btn">
                <button type="button" class="btn btn-outline-secondary" onclick="randomQuiz()">Solving Random Quiz!</button>
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='./quiz_create'">Make a Quiz</button>
            </div>
        </div>

    </div>

    <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
</body>

</html>