<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quizzeria_Quiz</title>

    <script th:src="@{/js/quiz/quiz_main.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/quiz/quiz_main.css}" rel="stylesheet">
</head>

<body>
    <header th:replace="/layout/header_layout :: header_layout"></header>

    <div id="container">
        <div id="left">
            <div id="quiz_container">
                <div class="card">
                    <div class="question"><p>문제다</p></div>
                    <div class="answer"><p>니가ㅋ</p></div>
                </div>
                <div id="answerInput">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" style="height: 100px;" placeholder="정답을 입력해 주세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2" onclick="flip()">Submit</button>
                    </div>
                </div>
                <div id="quiz_btn">
                    <button type="button" class="btn btn-outline-secondary">다음문제</button>
                    <button type="button" class="btn btn-outline-secondary">이전문제</button>
                </div>
                <div id="progress">
                    <div id="progressText">
                        <h4>진행도: 25%</h4>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="userInfo">
                로그인 하면 사용자 정보
                사용자 정보 보러 가기
                최근 푼 문제??(로그)
                정답률(로그)
                문제 만들기 버튼?
            </div>
            <div id="right_btn">
                <button type="button" class="btn btn-outline-secondary">돌아가기</button>
                <button type="button" class="btn btn-outline-secondary">랜덤문제</button>
                <button type="button" class="btn btn-outline-secondary">다시풀기</button>
            </div>
        </div>

    </div>

    <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
</body>

</html>