<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a Quiz!</title>

  <script th:src="@{/css/js/quiz/quiz_QNA.js}"></script>
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/quiz/quiz_QNA.css}" rel="stylesheet">
</head>
<body>
    <header th:replace="/layout/header_layout :: header_layout"></header>
    <div id="container">
        <div id="left">
            <div id="top">
                문제 타이틀, 카테고리
                <option value="" disabled selected hidden>문제유형 선택</option>
                <option value="Subjective">단답형</option>
                <option value="BinaryChoice"></option>
                <option value="TernaryChoice">과학</option>
                <option value="MultipleChoice">역사</option>
            </div>
            <div id="mid">
                문제, 문제 유형선택
                답 입력
                (단답형 외의 유형일 경우) 오답 만들기
            </div>
            <div id="bot">
                미리보기
            </div>
        </div>
        <div id="right">
            배너?
        </div>
    </div>

    <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
</body>
</html>