<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quizzeria_Quiz</title>

    <script th:src="@{/css/js/quiz/quiz_main.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/quiz/quiz_main.css}" rel="stylesheet">
</head>

<body>
    <header th:replace="/layout/header_layout :: header_layout"></header>
    <div type="hidden" id="size" th:value="${quizlist.dtoList.size()}"/>
    <div id="container">

        <h3 class = "mt-4" id="board_header">
            <span style="margin-left: 80px">
                Quiz 게시판
            </span>
        </h3>

        <div id="left">
            <div id="list_container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 60%;">Title</th>
                        <th scope="col" style="width: 20%;">Writer</th>
                        <th scope="col" style="width: 10%;">Date</th>
                        <th scope="col" style="width: 5%;">Views</th>
                        <th scope="col" style="width: 5%;">Likes</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr id="quizlist_table" th:each="dto : ${quizlist.dtoList}">
                            <th scope="row">
                                <a th:href="@{/quiz/quiz_view(qlno=${dto.qlno}, index=0)}">
                                    [[${dto.title}]]
                                </a>
                            </th>
                            <td>[[${dto.member.id}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                            <td>[[${dto.views}]]</td>
                            <td>[[${dto.likes}]]</td>
                        </tr>



                    </tbody>

                </table>

                <div id="quizPage">
                    <ul class="pagination h-100 justify-content-center align-items-center">
                        <li class="page-item" th:if="${quizlist.prev}">
                            <a class="page-link" th:href="@{/quiz/quiz_main(page=${quizlist.start -1},
                            type=${pageRequestDTO.type},
                            keyword = ${pageRequestDTO.keyword})}" tabindex="-1">previous</a>
                        </li>

                        <li th:class=" 'page-item' + ${quizlist.page == page?'active':''}" th:each="page:${quizlist.pageList}">
                            <a class="page-link" th:href="@{/quiz/quiz_main(page=${page},
                            type = ${pageRequestDTO.type},
                            keyword = ${pageRequestDTO.keyword} )}">[[${page}]]</a>
                        </li>

                        <li th:class="page-item" th:if="${quizlist.next}">
                            <a class="page-link" th:href="@{/quiz/quiz_main(page=${quizlist.end +1},
                            type=${pageRequestDTO.type},
                            keyword = ${pageRequestDTO.keyword} )}">Next</a>
                        </li>
                    </ul>
               </div>

            </div>
        </div>
        <div id="right">
            <div id="userInfo">
                <div id="userInfo_top">
                    <img th:src="@{/css/images/quiz/member_InfoImg.png}">
                </div>
                <div id="userInfo_mid">
                    <h3 class="mt-3">내 정보</h3>
                </div>
                <div id="userInfo_bottom">
                    <div class="textForm">
                        <span class="label">아이디:</span>
                        <span class="value">[[${#authentication.principal.id}]]</span>
                    </div>
                    <div class="textForm">
                        <span class="label">이름:</span>
                        <span class="value">[[${#authentication.principal.name}]]</span>
                    </div>
                    <div class="textForm">
                        <span class="label">이메일:</span>
                        <span class="value">[[${#authentication.principal.email}]]</span>
                    </div>
                </div>
            </div>
            <div id="right_btn">
                <button type="button" class="btn btn-outline-secondary" onclick="randomQuiz()">Solving Random Quiz!</button>
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='./quiz_create_title'">Make a Quiz</button>
            </div>
        </div>

    </div>

    <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
</body>

</html>