
#container{
    display: block;
    position:relative;
    width:1280px;
    height: 1450px;
    margin:0 auto;
    z-index:10;
    /*background-color: aqua;*/
}

    #top{
        width: 100%;
        height: 370px;
        display: block;
        margin-top: 30px;
        /*background-color: red;*/
    }
        #top>#banner{
            margin: 0 auto;
            width: 1000px;
            height: 370px;
            overflow: hidden;
        }
            #banner>img{
                float: left;
                width:100%;
                height:100%;
            }

    #mid{
        width: 100%;
        height: 400px;
        display: block;
        margin-top: 30px;
        /*background-color: green;*/
    }
        #mid>#content{
            width: 1200px;
            height: 400px;
            margin: 0 auto;
            /*background-color: #0f6674;*/
        }
            #today_Quiz{
                width: 580px;
                height: 400px;
                float: left;
                margin-right: 40px;
                border: 1px solid #333333;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                /*background-color: lightblue;*/
            }
            #quiz_title{
                width: 100%;
                height: 12%;
                text-align: left;
                margin-left: 10px;
                /*background-color: #005cbf;*/
            }
                #question{
                    width: 100%;
                    height: 46%;
                    display: block;
                    padding-top: 10px;
                    box-sizing: border-box;
                    /*background-color: #7abaff;*/
                }

                    .card {
                        width: 80%;
                        height: 80%;
                        margin: 0 auto;
                        background-color: #fff;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        position: relative;
                        perspective: 1000px;
                        padding-top: 10px;
                        box-sizing: border-box;
                    }

                    .card > div {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        transform-style: preserve-3d;
                        box-sizing: border-box;
                        padding: 20px;
                        font-size: 24px;
                        line-height: 1.5;
                        text-align: center;
                        transition: transform 0.5s ease;
                    }

                    .question {
                        color: #333333;
                        border: 1px solid #333333;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        transform: rotateY(0deg);
                        z-index: 2;
                    }


                    .answer {
                        color: #333333;
                        border: 1px solid #333333;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        transform: rotateY(180deg);
                    }

                    .card.flipped .question {
                        transform: rotateY(180deg);
                        z-index: 1;
                    }

                    .card.flipped .answer {
                        transform: rotateY(0deg);
                        z-index: 2;
                    }


                #answer{
                    width: 100%;
                    height: 30%;
                    display: block;
                    /*background-color: #138496;*/
                }
                #answer button{
                    width: 45%;
                    height: 45%;
                    margin-top: 10px;
                    margin-left: 20px;
                    background: rgb(255, 255, 255, 0.7);
                    color: black;
                }
                #answer button:hover{
                    background-color: #aab29d;
                }
                    /*#left{*/
                    /*    width: 50%;*/
                    /*    height: 100%;*/
                    /*    float: left;*/
                    /*}*/
                    /*    #left_top, #right_top{*/
                    /*        width: 100%;*/
                    /*        height: 50%;*/
                    /*        display: block;*/
                    /*        !*background-color: #abdde5;*!*/
                    /*    }*/
                    /*    #left_bot, #right_bot{*/
                    /*        width: 100%;*/
                    /*        height: 50%;*/
                    /*        display: block;*/
                    /*        !*background-color: #1c7430;*!*/
                    /*    }*/
                    /*#right{*/
                    /*    width: 50%;*/
                    /*    height: 100%;*/
                    /*    float: left;*/
                    /*}*/
                #dailyQuiz_btn{
                    width: 100%;
                    height: 12%;
                    display: block;
                    /*background-color: #19692c;*/
                }
                    #dailyQuiz_btn>button{
                        float: right;
                        margin-right: 5px;
                        background: rgb(123, 153, 159);
                        border: 0;
                    }

        #notice{
            width: 580px;
            height: 400px;
            float: left;
            box-sizing: border-box;
            /*background-color: lightgoldenrodyellow;*/
        }
            #notice_top{
                width: 100%;
                height: 13%;
                display: block;
                /*background-color: #19692c;*/
            }
                #notice_title{
                    width: 70%;
                    height: 100%;
                    float: left;
                    /*background-color: red;*/
                }
                #notice_btn{
                    width: 30%;
                    height: 100%;
                    float: left;
                    /*background-color: blue;*/
                }
                #notice_btn>a{
                    float: right;
                }
            #notice_contents{
                width: 100%;
                height: 77%;
                display: block;
                /*background-color: #138496;*/
            }
                #notice_contents>table>tbody>tr:nth-child(1),
                #notice_contents>table>tbody>tr:nth-child(2){
                    font-weight: bold;
                    /*background-color: #eae8e8;*/
                    background-color: rgb(211, 211, 211, 0.1);
                }

    #bot{
        width: 100%;
        height: 400px;
        display: block;
        margin-top: 30px;
        /*background-color: blue;*/
    }
        #bot>#board_new{
            width: 1200px;
            height: 400px;
            margin: 0 auto;
            /*background-color: lightcoral;*/
        }
            #board_top{
                width: 100%;
                height: 15%;
                float: left;
                /*background-color: #007bff;*/
            }
                #board_title{
                    width: 90%;
                    height: 100%;
                    float: left;
                    /*background-color: red;*/
                }
                #board_btn{
                    width: 10%;
                    height: 100%;
                    float: left;
                    /*background-color: blue;*/
                }
                    #board_btn>a{
                        float: right;
                    }
            #board_content{
                width: 100%;
                height: 85%;
                float: left;
                /*background-color: #7abaff;*/
            }

