/*Board_view style*/
#container_view {
    width: 1280px;
    height: 1000px;
    margin: 5vh auto;
}
#view_main{
    width: 1280px;
    height: 400px;
}

#table_main{
    width: 1280px;
    height: 300px;
}

#table_content{
    width: 1280px;
    height: 200px;
    resize: none;
    border: none;
}
#table_content:focus{
    outline: none;
}

/*#board_section_view{*/
/*    width: 1280px;*/
/*    height: 600px;*/
/*}*/

#bot{
    width: 100%;
    height: 400px;
    display: block;
    margin-top: 30px;
    /*background-color: blue;*/
}
#bot>#board_new{
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    /*background-color: lightcoral;*/
}
#board_top{
    width: 100%;
    height: 15%;
    float: left;
    /*background-color: #007bff;*/
}
#board_title{
    width: 90%;
    height: 100%;
    float: left;
    /*background-color: red;*/
}
#board_btn{
    width: 10%;
    height: 100%;
    float: left;
    /*background-color: blue;*/
}
#board_btn>a{
    float: right;
}
#board_content{
    width: 100%;
    height: 85%;
    float: left;
    /*background-color: #7abaff;*/
}

